DB_USER=
DB_PASSWORD=
JWT_SECRET=
JWT_ACCESS_TOKEN_TTL_MINUTES=15
JWT_REFRESH_TOKEN_TTL_DAYS=30
GEMINI_API_KEY=
GEMINI_API_SECRET=
AWS_S3_KEY=
PGADMIN_EMAIL=admin@lifeos.dev
PGADMIN_PASSWORD=devpassword
